*{
    margin: 0;
    padding: 0;
}

.header{
    /* background-color: aquamarine; */
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
 
}
.left{
    width: 45%;
    margin-left: 40px;
    padding: 5px;
    
}
.right {
    /* background-color: rgb(231, 133, 238); */
    margin-left: 25px;
    gap: 45px;
    display: flex;
   align-items: center;

}
.right a{
    color: black;
    font-size: large;
    text-decoration: none;
}


.btn-1{
    /* background-color: brown; */
    margin:65px;
    width: 80px;
    padding: 10px;
    color: #ebe6e6;
    background-color: black;
    font-weight: bold;
}
.btn-1:hover{
  transform: scale(1.1);
}

.hero{
 background-color:white;
 width: 100%;
 height: 85vh;
 margin-top: 15px;

}

.main{
    background-color: rgb(179, 179, 197);
    width: 90%;
    height: 75vh;
    margin-left: 35px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    position: relative;
    
}
.sec1{
    /* background-color: rgb(167, 99, 99); */
    height: 55vh;
    width: 50%;
}

.sec1 img{
    margin-top: 30px;
    width: 80%;
    height: 50vh;
}

.sec1 h2{
    margin-top: 30px;
}
.btn-2{
    padding: 10px;
    margin-top: 25px;
    color: #ebe6e6;
    background-color: black;
    font-weight: bold;
}
.btn-2:hover{
    transform: scale(1.1);
  }

.sec2{
    /* background-color: rgb(60, 64, 87); */
    height: 65vh;
    width: 50%;
}
.sec2 img{
    /* background-color: blue; */
  width: 90%;
  height: 70vh;
  padding: 35px;
  /* margin-bottom:-25px; */
}
.star-img img{
    height: 25px;
    width: 35px;
}
.star-img{
    position: absolute;
    left: 660px;
    top: 60px;
    color: rgb(20, 18, 18);
}

.star-img1{
    position: absolute;
    left: 1000px;
    top: 80px;
}
.star-img1 img{
    height: 25px;
    width: 35px;
}
.star-img2{
    position: absolute;
    left: 680px;
    top: 450px;
}
.star-img2 img{
    height: 25px;
    width: 35px;
}
.star-img3{
    position: absolute;
    left: 1140px;
    top: 400px;
}
.star-img3 img{
    height: 25px;
    width: 35px;
}

/* .box{
    height: 25px;
    width: 30%;
    background-color: yellow;
    position: absolute;
    top: 240px;
    z-index: -9;
} */


.brand-sec{
    background-color: rgb(219, 173, 46);
    height: 15vh;
   margin-top: 25px;
    width: 100%;
    display: flex;
   /* padding: 8px; */
   gap: 55px;
   justify-content: center;
   align-items: center;
}
.one{
    margin-top: 20px;
}



.heading{
    margin: 25px ;
    margin-left: 35px;
    padding: 8px;
}

.article-img{
    background-color: aqua;
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 55px;
}

.article-img img{
    height: 65vh;
    width: 100%;
}

.article-name{
    margin-top: 35px;
}

.brand-sec{
    background-color: rgb(219, 173, 46);
    height: 15vh;
   margin-top: 25px;
    width: 100%;
    display: flex;
   /* padding: 8px; */
   gap: 55px;
   justify-content: center;
   align-items: center;
}
.one{
    margin-top: 20px;
}